@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins';
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar{
  display: none;
}

@media (min-width: 680px)  {
  ::-webkit-scrollbar {
    height: 10px;
    display: block;
    width: 10px;
  }
  
::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;
    background-color: gray;
  }

  
}


.invisible-d {
  display: none;
}